.banner {
    width: 1440px;
    height: 715px;
    margin: 0 auto;
    display: flex;
    gap: 90px;
    margin-bottom: 250px;
    background-color: rgba(17, 17, 17, 1);
    background: linear-gradient(
        180deg, rgba(17, 17, 17, 1) 0%
        rgba(119, 119, 119, 0) 100%
    );
 
}

.banner-text {
    width: 520px;
    height: 280px;
    margin-left: 190px;
}

.banner-title {
    font-weight: 900;
    font-size: 4.9rem;
    color: whitesmoke;
    line-height: 90px;
    margin-bottom: 28px;
}

.shape {
    font-weight: 400;
    font-size: 4.9rem;
    font-style: italic;
}

.banner-description {
    font-weight: 400;
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.5);
    line-height: 24px;
    margin-top: 0px;
}

.banner-btns {
    display: flex;
    gap: 14px;
}

.banner-btn {
    width: 224px;
    height: 54px;
    border: none;
    border-radius: 42px;
    font-weight: 600;
    font-size: 1.1rem;
    color: whitesmoke;
}

.btn-download {
    background-color: rgba(17, 17, 17, 1);
    border: 2px solid whitesmoke;
}
.banner-img{
    width: 349px;
    height: 580px;
    margin-left: 45px;
}
.boxy{
    margin-top: -560px;
    margin-left: 180px;
}

.box1 {
    width: 206px;
    height: 96px;
    border-radius: 12px;
    background-color: rgba(48, 48, 48, 0.54);
    backdrop-filter: 80%;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-left: 763px;
    margin-top: -556PX;
 
}

.round-btn {
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
}

.box1-text {
    gap: 8px;
}

.box1-title {
    font-weight: 800;
    font-size: 1.6rem;
    color: whitesmoke;
    margin-bottom: 0px;
}

.box1-description {
    font-weight: 400;
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 8px;
}

.box2 {
    width: 193px;
    height: 98px;
    border-radius: 12px;
    background-color: rgba(48, 48, 48, 0.54);
    backdrop-filter: blur (65%);
    text-align: center;
    margin-left: 1107px;
    margin-top: -400px;
   
}
.box2-title {
    font-weight: 800;
    font-size: 2.5rem;
    color: whitesmoke;
    margin-bottom: 5px;
    padding-top: 8px;

}

.box2-description{
    font-weight: 400;
    font-size: .8rem;
    color: rgba(255, 255, 255, 0.5);
}