.banner {
    width: 1440px;
    margin: 0 auto;
    display: flex;
    gap: 90px;
    background-color: rgba(17, 17, 17, 1);
    background: linear-gradient(
        180deg, rgba(17, 17, 17, 1) 0%
        rgba(119, 119, 119, 0) 100%
    );
 
}

.banner-text {
    width: 520px;
    height: 280px;
    margin-left: 190px;
}

.banner-title {
    font-weight: 900;
    font-size: 4.9rem;
    color: whitesmoke;
    line-height: 90px;
    margin-bottom: 28px;
}

.shape {
    font-weight: 400;
    font-size: 4.9rem;
    font-style: italic;
}

.banner-description {
    font-weight: 400;
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.5);
    line-height: 24px;
    margin-top: 0px;
}

.banner-btns {
    display: flex;
    gap: 14px;
}

.banner-btn {
    width: 224px;
    height: 54px;
    border: none;
    border-radius: 42px;
    font-weight: 600;
    font-size: 1.1rem;
    background-color: #E6533C;
    color: whitesmoke;
}

.btn-download {
    background-color: rgba(17, 17, 17, 1);
    border: 2px solid whitesmoke;
}
.banner-img{
    width: 349px;
    height: 580px;
    margin-left: 45px;
}


.box1 {
    display: flex;
    justify-content: space-between;
    width: 206px;
    height: 96px;
    border-radius: 12px;
    background-color: rgba(48, 48, 48, 0.54);
    backdrop-filter: 80%;
    justify-content: center;
    align-items: center;
    gap: 8px;
    position: relative;   
    margin-top: -170px;
    margin-left: -80px;
}

.round-btn {
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
}

.box1-text {
    gap: 8px;
}

.box1-title {
    font-weight: 800;
    font-size: 1.6rem;
    color: whitesmoke;
    margin-bottom: 0px;
}

.box1-description {
    font-weight: 400;
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 8px;
}

.box2 {
    width: 193px;
    height: 98px;
    border-radius: 12px;
    background-color: rgba(48, 48, 48, 0.54);
    backdrop-filter: blur (65%);
    text-align: center;
    position: relative;
    margin-top: -440px;
    margin-left: 220px;
   }

.box2-title {
    font-weight: 800;
    font-size: 2.5rem;
    color: whitesmoke;
    margin-bottom: 5px;
    padding-top: 8px;

}

.box2-description{
    font-weight: 400;
    font-size: .8rem;
    color: rgba(255, 255, 255, 0.5);
}


@media screen and (max-width: 576px) {
    .banner{
        flex-direction: column;
    }
    .banner-title, .shape {
        width: 285px;
        font-weight: 600;
        font-size: 2.8rem;
        color: whitesmoke;
        line-height: 90px;
        margin-bottom: 28px;

    }
    .banner-text{
        width: 30%;
        margin-left: 10px;
    }
    .banner-description{
        width: 60%;
    }
    .banner-btns{
        width: 100%;
    }
    .banner-btn{
        width: 169px;
        height: 54px;
    }
  .banner-img{
    width: 353px;
    margin-top: 150px;
    margin-left: 5px;
  }
  .box1{
    width: 156px;
    height: 73px;
    margin-top: -350px;
    margin-left: 10px;
  }
.box1-title{
    font-size: 1.2rem;
}
.box1-description{
    font-size: .8rem;
}
.box2{
    width: 146px;
    height: 74px;
    margin-top: -280px;
    margin-left: 200px;
}
.box2-title{
    font-size: 1.9rem;
}
.box2-description{
    font-size: .6rem;
}

}