.habit{
    max-width: 1060px;
    margin: 0 auto;
    margin-top: 100px;
}
.title{
    width: 671px;
    height: 120px;
    margin: 0px auto;
    justify-content: center;
    text-align: center;
}
.habit-title{
    font-weight: 800;
    font-size: 3rem;
    color: whitesmoke;
    margin-bottom: 14px;
}

.habit-card{
    gap: 40px;
   }

.card{
    width: 231px;
    height: 266px;
    margin-top: 58px;
}

.card-img{
    width: 180px;
    height: 180px;
    border-radius: 100%;
    margin: 0 25.5px;
 
}
.card-text{
    text-align: center;
}
.card-title{
    font-weight: 600;
    font-size: 1.2rem;
    color: whitesmoke;
    margin-bottom: 6px;
}
.card-description{
    font-weight: 400;
    font-size: .8rem;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 0%;
}
@media screen and (max-width: 576px){
   
    .habit-title{
        font-size: 2rem;
        margin-top: 5px;
    }
    .title{
        margin-bottom:  58PX;
        width: 60%;
    }
    .habit-card{
        align-items: center;
    }
 
}