.mile{
    background-color: rgba(34, 34, 34, 1);
    border-radius: 18px;
}
.mile-text{
    width: 443px;
    padding-left: 54px;
}
.mile-title{
    font-weight: 800;
    font-size: 3rem;
    color: whitesmoke;
    margin-bottom: 14px;
}
.mile-description{
    font-weight: 400;
    font-size: .8rem;
    color: rgba(255, 255, 255, 0.5);
    line-height: 1.5rem;
    margin-bottom: 24px;
}
.mile-img-1{
    width: 366px;
    height: 312px;
    margin: 20px;
}
.mile-img-2{
    display: none;
    width: 366px;
    height: 312px;
    margin: 20px;
}
.mile-img-full{ 
    width: 100%;
    height: 100%;
    border: none;  
    border-radius: 18px;
    position: relative;
    
}
.mile-btn{
    margin-bottom: 20px;
}
.image{
    border-radius: 18px;
    position: relative;
}
@media screen and (max-width: 576px){
    .mile-text{
        padding-left: 33px;
    }
    .mile-title{
        font-size: 2rem;
    }
    .mile-description{
        width: 60%;
        margin-left: 0px;
    }
    .mile-btn{
        width: 300px;
    }
    .mile-img-1{
        display: none;  
    }
    .mile-img-2{
        display: block;
        margin: 33px  auto;
        width: 287px;
        height: 170px;
    }
   
}