.training-text{
    width: 671px;
    height: 120;
    text-align: start;
    margin: 58px 0px;
}
.row-1{
    height: 200px;
    display: grid;
    grid-template-columns: .7fr 1.5fr .8fr;
}
.row-1 img{
    width: 100%;
    height: 100%;
}
.grid-box{
    width: 1060px;
    height: 400px;
    overflow-y: hidden;
}
.row-2{
    height: 200px;
    display: grid;
    grid-template-columns: 1.5fr .7fr .8fr;
}
@media screen and (max-width: 576px){
    .training-text{
        width: 353px;
        margin-left: 30px;
    }
    .pp{
        display: none;
    }
    .grid-box{
        width: 353px;
        height: 253px;
    }
    .row-1{
        width: 100%;
        height: 50%;
        grid-template-columns: repeat(2, 1fr);
    }
    .row-2{
        grid-template-columns: .8fr 1.2fr;
        width: 100%;
        height: 50%;
        

    }
}
